# Default python version and virtualenv (basename of the root project directory)
pyversion=3.12.8
pvenv=project-tracker

use python ${pyversion}
layout virtualenv ${pyversion} ${pvenv}
layout activate ${pvenv}


if [ -f "$USER.envrc" ]; then
    source $USER.envrc
fi
